@model IEnumerable<EmergencyNow.UI.Models.Interfaces.Reportes.Organizaciones>

@{
    ViewData["Title"] = "Historial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary my-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                    <th>@Html.DisplayNameFor(model => model.Ubicacion)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ubicacion)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- FontAwesome para los iconos -->
@* Asegúrate de tener el enlace de FontAwesome en tu Layout o aquí *@
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
